/* CSS Reset*/
/*Mensaje de prueba*/
/*--CSS root colors--*/

:root {
  --banner:rgba(0, 0, 0, 0.8);
  --transparencia: rgba(0, 0, 0, 0.4);
  --body: #0B141E;
  --logo: #3368a8;
  --text: #fff;
  --social_hover: #8a5110;
  --btn_hover: #2b885d
}

/*--CSS root colors--*/

  @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  a{
    color: var(--text);
  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }

  body {
    background: var(--body);
    color: var(--text);
  }

/* Header section */

.header {
  background: var(--banner);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--logo);
}

.menu-bar a {
  font-size: 1.5rem;
  margin-left: 3.5rem;
  transition: 0.4s ease;
  font-weight: 600;
}

.menu-bar a:hover {
  color: var(--logo);
}

#menu-btn {
  font-size: 3rem;
  display: none;
}

section {
  padding: 10rem 10%;
  min-height: 100vh;
}

/* Home section */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-bio h3 {
  font-size: 2.5rem;
}

span { 
  color: var(--logo);
}

.home-bio h1 {
  font-size: 3.5rem;
  line-height: 1.4;;
}

.home-bio p {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.profile-pic {
  width: 40vw;
  border-radius: 50;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.social-media a {
  width: 3.8rem;
  height: 3.8rem;
  font-size: 2.2rem;
  margin: 1rem 1rem 2rem 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.4s ease;
}

.social-media a:hover {
  color: var(--logo);
  box-shadow: 0 0 1rem var(--social_hover);
}

.btn {
  display: inline-block;
  background-color: var(--logo);
  margin: 2rem 0;
  padding:  1rem 2.5rem;
  border-radius: 1.3rem;
  font-size: 1.3rem;
  color: #000;
  font-weight: 600;
  transition: 0.5s ease;
  text-align: center;
}

.logo {
  transition: 0.5s ease;
}

.logo:hover {
  text-shadow: 3px 3px 3px var(--social_hover);
  color: #000;
}

.btn:hover{
  color: var(--logo);
  background-color: #000;
  box-shadow: 0 0 1.5rem var(--btn_hover);
}

/* About section */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 3.3rem;
  text-align: center;
  margin: 4rem 0;
}

.about-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.about-resume h3 {
  font-size: 2.4rem;
  text-align: left ;
}

.about-text p {
  font-size: 1.8rem;
}

/* Skills section */
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills-items {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 1s all cubic-bezier(0.75, 0.82, 0.165, 1);
}

.skill-card:hover {
  border-radius: 1rem solid;
  transform: scale(1.05);
}

.skill-card .bx {
  font-size: 8rem;
  transition: 0.4s ease;
}

.skill-card .bx:hover {
  color: var(--logo);
}

.skill-card h3 {
  font-size: 2.5rem;
  font-weight: 200;
}

.skill-card p {
  text-align: center;
  font-size: 1.3rem;
  opacity: 0.5;
}

/* Projects section */

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 3rem;
}

.project-card{
  position: relative;
  height: 25rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.project-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card-overlay {
  background: var(--transparencia);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.card-overlay:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  transition: 0.4s all linear;
}

.card-overlay .bx {
  color: #fff;
  font-size: 1.8rem;
  padding: 1.1rem;
  background-color: var(--transparencia);
  border-radius: 0.8rem;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-overlay .bx:hover {
  transform: scale(1.2);
  color: var(--logo);
  background-color: #000;
  box-shadow: 0 0 2rem var(--logo);
}

/* Contact section */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: grid;
  row-gap: 1rem;
}

form > input[type="text"], input[type="email"],
textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  color: #f1f2f75b;
  background-color: var(--banner);
  border-radius: 1rem;
  resize: none;
  text-shadow: 1px 1px 2px rgba(20, 40, 78, 0.63), 0 0 1em rgba(192, 192, 169, 0.562), 0 0 0.3em rgba(25, 25, 94, 0.527);
}

form  input::placeholder, textarea::placeholder {
  color: rgba(140, 146, 151, 0.349);
  text-shadow: 1px 1px 2px rgba(20, 40, 78, 0.63), 0 0 1em rgba(184, 185, 125, 0.562), 0 0 0.2em rgba(25, 25, 94, 0.527);
}

/* Footer section */

.footer {
  padding: 2rem 10%;
  text-align: center;
  font-size: 1rem;
}

hr {
  margin: 1rem;
  border-bottom: thin solid #fff;
}
/* Responsive Section */
@media (max-width: 1200px) {
  html {
    font-size: 58%;
  }

}

@media (max-width: 980px) {
  .header {
    padding: 2rem 4%;
  }
  .home img {
    width: 42vw;
  }
}

@media (max-width: 760px) {
  #menu-btn {
    display: block;
  }
  .menu-bar {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--banner);
    display: none;
  }
  .menu-bar.active {
    display: block;
  }
  .menu-bar a {
    display: block;
    margin: 2rem;
    font-size: 1.5rem;
  }
  .home, .about-items {
    flex-direction: column;
  }
  .home img {
    width: 45vw;
  }
  .heading {
    font-size: 3rem;
  }
  .skills-items{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 620px) {
  .skills-items{
    grid-template-columns: repeat(1,1fr);
  }
  .project-items{ 
    grid-template-columns: repeat(1,1fr);
  }
  .heading {
    font-size: 2.7rem;
  }
}

@media (max-width: 450px) {
  htmlt {
    font-size: 50%;
  }
}

