/* CSS Reset*/

:root {
  --banner:rgba(0, 0, 0, 0.8);
  --transparencia: rgba(0, 0, 0, 0.4);
  --body: #0B141E;
  --logo: #3368a8;
  --text: #fff;
  --social_hover: #8a5110;
  --btn_hover: #2b885d
}

/*--CSS root colors--*/

  @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  a{
    color: var(--text);
  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }

  body {
    background: var(--body);
    color: var(--text);
    font-size: 100%;
    display: block;
    margin: 8px;
}

/* Header section */

.header {
  background: var(--banner);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--logo);
  transition: 0.5s ease;
}

.logo:hover {
  text-shadow: 3px 3px 3px var(--social_hover);
  color: #000;
}

.menu-bar a {
  font-size: 2rem;
  margin-left: 3.5rem;
  font-weight: 500;
}

#menu-btn {
  font-size: 3rem;
  display: none;
}

section {
  padding: 10rem 10%;
  min-height: 100vh;
  display: block;
}

/* Project section*/

.intro_project {
  text-align: left;
  opacity: 0.5;
}

.content_project {
  text-align: left;
  opacity: 0.5;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.3em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1.1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}